.secondNavbar{
        margin-top:-0.5rem;
        width:100%;
        text-decoration: none;
}
.secondNavbar ul{

    background-color: rgb(29, 23, 23);
    display: flex;
    justify-content: right;
    justify-content: space-between;
    
}  
.secondNavbar ul li{
    justify-content: space-around;

} 
.list{
    list-style: none;
    /* display: inline; */
}
